---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import cart from '../assets/images/illustration-empty-cart.svg';
import CartDetails from '../components/CartDetails.astro';
---

<Layout title="Desserts">
  <main class="flex flex-col md:flex-row md:gap-0 gap-16">
    <div class="flex flex-col">
      <h1 class="font-bold text-4xl mb-8 text-Rose-900">Desserts</h1>
      <ul class="flex gap-6 flex-wrap">
        <Card urlImg="hola" name="choloca" category="brownie" price="2.80" />
        <Card urlImg="hola" name="choloca" category="brownie" price="2.80" />
        <Card urlImg="hola" name="choloca" category="brownie" price="2.80" />
        <Card urlImg="hola" name="choloca" category="brownie" price="2.80" />
        <Card urlImg="hola" name="choloca" category="brownie" price="2.80" />
        <Card urlImg="hola" name="choloca" category="brownie" price="2.80" />
        <Card urlImg="hola" name="choloca" category="brownie" price="2.80" />
        <Card urlImg="hola" name="choloca" category="brownie" price="2.80" />
      </ul>
    </div>
    <CartDetails />
  </main>
</Layout>
